
.form-markdown {
    display: flex;
}

.form-markdown textarea {
    width: 600px;
    height: 500px;
    margin-right: 15px;
}

.form-markdown .markdown-container {
    width: 600px;
    height: 500px;
    border: 1px dashed black;
}