
.multiple-selector {
    display: flex;
}

.multiple-selector ul {
    width: 170px;
    height: 200px;
    padding: 0;
    overflow-y: auto;
    list-style-type: none;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

.multiple-selector ul li {
    cursor: pointer;
    border-bottom: 1px solid #eeeeee;
    padding: 2px 10px;
    font-size: 14px;
}

.multiple-selector ul li:hover {
    background-color: #0043fc;
}

.multiple-selector-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.multiple-selector-buttons button {
    margin: 5px;
    padding: 4px 6px;
    border: 1px solid grey;
    border-radius: 2px;
    font-size: 14px;
}